---
const { label = 'system://preview' } = Astro.props;
---
<div class="browser-mockup"><div class="browser-bar"><span class="dots"><i></i><i></i><i></i></span><code>{label}</code></div><div class="browser-content"><slot /></div></div>
