---
interface Props { href: string; variant?: 'primary' | 'secondary' | 'blue' | 'plain'; }
const { href, variant = 'primary' } = Astro.props;
---
<a class={`button ${variant}`} href={href}><slot /> <span aria-hidden="true">↗</span></a>
